In [ ]:
import pandas as pd
import sqlite3


# STEP 1: Load Orders (CSV)
orders = pd.read_csv("orders.csv")

# STEP 2: Load Users (JSON)
users = pd.read_json("users.json")


# STEP 3: Load Restaurants (SQL)
conn = sqlite3.connect("restaurants.db")
with open("restaurants.sql", "r") as f:
    sql_script = f.read()
conn.execute("DROP TABLE IF EXISTS restaurants;")
conn.executescript(sql_script)
restaurants = pd.read_sql(
    "SELECT * FROM restaurants",
    conn
)
# STEP 4: Merge Orders + Users
orders_users = orders.merge(
    users,
    on="user_id",
    how="left"
)
# STEP 5: Merge with Restaurants
final_df = orders_users.merge(
    restaurants,
    on="restaurant_id",
    how="left"
)
# STEP 6: Save Final Dataset
final_df.to_csv(
    "final_food_delivery_dataset.csv",
    index=False
)
print(" final_food_delivery_dataset.csv created successfully")

OperationalError: table restaurants already exists